#tb{
position:relative;
left:0px;
top:0px;
width:370px;
user-select:none;
}

#bg{
position:relative;
left:0px;
top:0px;
width:370px;
user-select:none;
}

#name_game{
position:absolute;
left:0px;
top:18px;
width:370px;
user-select:none;
}

#name_game_fon{
position:absolute;
left:0px;
top:8px;
width:370px;
user-select:none;
}

#version{
position:absolute;
left:230px;
top:460px;
width:140px;
user-select:none;
font-size:18px;
}

#txt{
position:relative;
left:0px;
top:0px;
width:370px;
text-indent:20px;
font-weight: bold;
font-size:100%;
text-align:justify;
user-select:none;
color:#999999;
}



#test{
position:relative;
position:absolute;
left:0px;
top:0px;
width:370px;
text-indent:30px;
font-weight: bold;
font-size:100%;
text-align:justify;
user-select:none;
color:#202020;
font-family:CyrillicGoth;
}

a {
    text-decoration: none;
   }
